body {
  background-image: url("pumpkin-creamy-soup-served-bowl.jpg");
  background-repeat: no-repeat;
  background-size: cover;
 
  
}
.shopname p {
  margin-top: 100px;
  font-size: 60px;
  font-weight: bolder;
  color: rgb(64, 21, 68);
  text-align: center;
}
.link {
  display: flex;
  position: fixed;
  top: 10;
  justify-content: space-evenly;
  width: 800px;
  font-size: 22px;
  margin-left: 330px;
}
a {
  text-decoration: none;
  color: rgb(119, 10, 10);
}
.details{
  text-decoration: none;
  color: rgb(18, 1, 1);
  text-align: center;
  margin: left 330px;;
  
  }
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(49, 127, 141);
  color: white;
  text-align: center;
  padding: 5px;
}