body {
  background-image: url("top-close-up-view-vegetables-tomatoes-with-pedicels-garlic-bell-peppers-lemon-oil-onion.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-name {
  margin-top: 150px;
  font-size: 60px;
  font-weight: bolder;
  color: rgb(68, 12, 48);
  text-align: center;
}

.quote {
  margin-top: 10px;
  font-size: large;
  font-style: italic;
  font-weight: bolder;
  color: rgb(97, 91, 91);
  text-align: center;
}
.link {
  display: flex;
  position: fixed;
  top: 10;
  justify-content: space-evenly;
  width: 800px;
  height: 55px;
  font-size: 22px;
}

 a {
  text-decoration: none;
  color: rgb(67, 62, 62);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(55, 150, 158);
  color: white;
  text-align: center;
  padding: 5px;
}